{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ student.name }} - {{ student.reg_no }}</h1>
  <p>Email: {{ student.email }}</p>
  <p>Faculty: {{ student.faculty.name }}</p>
  <p>Course: {{ student.course.name }}</p>
  <p>Level: {{ student.get_level_display }}</p>
  <p>Supervisor: {{ student.supervisor.name }}</p>
  <p>Research Topic: {{ student.selected_topic.topic }}</p>

  <h2>Research Chapters</h2>
  <ul>
    {% for chapter in research_chapters %}
      <li><a href="{{ chapter.file.url }}">{{ chapter.chapter_name }}</a> - Uploaded on {{ chapter.uploaded_at }}</li>
    {% endfor %}
  </ul>

  <a href="{% url 'upload_chapter' student.reg_no %}">Upload New Chapter</a>
{% endblock %}