{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}guide{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">

    <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body style="background: #F1F2F6 !important;">
    {% block content %}
    <div id="home-section" class="main" style="width: 100%; margin-left: auto; margin-right: auto; background: url({% static 'back1.jpg' %}); height:60vh; background-size:cover; background-repeat:no-repeat;" data-aos="fade-up">
        <nav class="navbar navbar-expand-lg navbar-dark p-3" style="background:transparent; font-weight: bold; text-transform: uppercase; width: 100%; margin-left: auto; margin-right: auto; box-shadow: inset 0px 0px 70px 0px maroon;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbar" style="width: 70%; margin-left: auto; margin-right: auto;">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#home-section" style="color: aliceblue; margin-left:40px;">Home</a>
                    <a class="nav-item nav-link" href="#students-section" style="color: aliceblue; margin-left: 40px;">Students</a>
                    <a class="nav-item nav-link" href="#training-section" style="color: aliceblue; margin-left:40px;">Training</a>
                    <a class="nav-item nav-link" href="#admin-section" style="color: aliceblue; margin-left:40px;">Admin</a>
                </div>
            </div>
        </nav>
        <div class="inner">
            <h1 style="color: #FFF; font-family: serif; font-weight: bold; margin-top: 5%;">RESEARCH TOPIC SUBMISSION LIST</h1>
            <div class="bg- p-5" style="width: 60%; margin-left: auto; margin-right: auto;">
                <div class="row">
                    <div class="col-md-6">
                        <center style="float: right;"><button style="border: none; background: rgb(24, 21, 21); padding: 9px; border:1px solid #fff; border-radius: 20px; color: #fff; box-shadow: 0px 0px 30px 0px #000;">Register for Research</button></center>
                    </div>
                    <div class="col-md-6">
                        <center><button style="border: none; background: maroon; padding: 9px; border:1px solid #fff; border-radius: 20px; color: #fff; box-shadow: 0px 0px 30px 0px #000;">Track Research Progress</button></center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="students-section" class="content p-5" style="width: 100%; margin-left: auto; margin-right: auto;" data-aos="fade-up">
        <table class="table" style="width: 90%; border-collapse: collapse; margin-left: auto; margin-right: auto; font-size: 12px; border: 1px solid black;">
            <thead class="thead-dark">
                <tr style="border: 1px solid black;">
                    <th>Name</th>
                    <th>Registration Number</th>
                    <th>Research Title</th>
                    <th>Supervisor</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr style="border: 1px solid black;">
                    <td>{{ student.name }}</td>
                    <td>{{ student.reg_no }}</td>
                    <td>{{ student.selected_topic }}</td>
                    <td>{{ student.supervisor.name }}</td>
                    <td><a href="#" class="student-details-link" data-toggle="modal" data-target="#studentModal" data-name="{{ student.name }}" data-student-id="{{ student.reg_no }}" data-research-title="{{ student.selected_topic }}" data-supervisor="{{ student.supervisor.name }}">View Details</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="studentModal" tabindex="-1" aria-labelledby="studentModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="studentModalLabel">Student Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><strong>Name:</strong> <span id="modal-student-name"></span></p>
                        <p><strong>Registration Number:</strong> <span id="modal-student-id"></span></p>
                        <p><strong>Research Title:</strong> <span id="modal-research-title"></span></p>
                        <p><strong>Supervisor:</strong> <span id="modal-supervisor"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="training-section" class="content p-5" style="width: 100%; margin-left: auto; margin-right: auto;" data-aos="fade-up">
        <!-- Add your training content here -->
    </div>

    <div id="admin-section" class="content p-5" style="width: 100%; margin-left: auto; margin-right: auto;" data-aos="fade-up">
        <!-- Add your admin content here -->
    </div>

    <div class="footer" style="padding: 20px;" data-aos="fade-up">
        <div class="innerfooter" style="padding: 20px; background: maroon; color: #fff;">
            <div class="row">
                <div class="col-md-4">
                    <div class="fbox" style="border-right: 1px solid #fff;">
                        <ul>
                            <li>Overview of the topic</li>
                            <li>Purpose of the Study</li>
                            <li>Scope of the Study</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fbox" style="border-right: 1px solid #fff;">
                        <ul>
                            <li>Overview of the topic</li>
                            <li>Purpose of the Study</li>
                            <li>Scope of the Study</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fbox">
                        <ul>
                            <li>Overview of the topic</li>
                            <li>Purpose of the Study</li>
                            <li>Scope of the Study</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center p-3 bg-dark" style="color:#FFF;">
            © 2020 Copyright:
            <a class="text-body" href="https://mdbootstrap.com/" style="color:#FFF !important;">MIU IT Students Marketing geeks</a>
        </div>
    </div>
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MfRxWzUNsFBt5zPSz6pGKJ9QuZCRfQ3rI5d60fUzUJdEhF6UzpcI8Nf5jbI+4bbI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        $(document).ready(function() {
            // Initialize AOS
            AOS.init();

            // Smooth scrolling for navigation links
            $('a.nav-item.nav-link').on('click', function(e) {
                if (this.hash !== "") {
                    e.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function() {
                        window.location.hash = hash;
                    });
                }
            });

            // Modal code
            $('.student-details-link').click(function(e) {
                e.preventDefault();
                var name = $(this).data('name');
                var studentId = $(this).data('student-id');
                var researchTitle = $(this).data('research-title');
                var supervisor = $(this).data('supervisor');

                $('#modal-student-name').text(name);
                $('#modal-student-id').text(studentId);
                $('#modal-research-title').text(researchTitle);
                $('#modal-supervisor').text(supervisor);

                $('#studentModal').modal('show');
            });
        });
    </script>
</body>
</html>
