{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Update Student{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body class="container">
    {% block content %}
    <div class="main" style="width: 100%; margin: auto; background: url({% static 'back1.jpg' %}); height:67vh; background-size:cover; background-repeat:no-repeat; box-shadow: inset 0px 0px 700px 0px #000;">
        <nav class="navbar navbar-expand-lg navbar-dark p-3" style="background:transparent; font-weight: bold; text-transform: uppercase; width: 100%; margin: auto; box-shadow: inset 0px 0px 70px 0px maroon;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbar" style="width: 70%; margin: auto;">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" id="login" href="/#" style="color: aliceblue; margin-left:40px;">Home</a>
                    <a class="nav-item nav-link" id="logout" href="{% url 'student_list' %}" style="color: aliceblue; margin-left: 40px;">Students</a>
                    <a class="nav-item nav-link" id="home" href="/student_success" style="color: aliceblue; margin-left:40px;">Training</a>
                    <a class="nav-item nav-link" id="home" href="/admin" style="color: aliceblue; margin-left:40px;">Admin</a>
                </div>
            </div>
        </nav>
        <div class="inner">
            <h1 style="color: #FFF; font-family: serif; font-weight: bold; margin-top: 5%; text-transform: uppercase;">WELCOME {{ student.name }}</h1>
            <div class="bg- p-5" style="width: 60%; margin: auto; color: #FFF; text-align: center;">
                <h4>UPDATE YOUR INFORMATION BELOW:</h4>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
