<!-- view_research_data.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Research Data</title>
</head>
<body>
    <h1>View Your Research Data</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    {% if research_data %}
        {% if research_data == 'Student not found.' %}
            <p>{{ research_data }}</p>
        {% else %}
            <h2>Research Data for {{ research_data.student.name }}</h2>
            <p>Registration Number: {{ research_data.student.reg_no }}</p>
            <p>Selected Topic: {{ research_data.student.selected_topic}}</p>
            <p>district: {{ research_data.student.district_of_study}}</p>
            <p>Milestones:</p>
            <ul>
                {% for milestone in research_data.milestones %}
                    <li>{{ milestone.milestone_name }} (Due: {{ milestone.due_date }}{% if milestone.completion_date %}, Completed: {{ milestone.completion_date }}{% endif %})</li>
                {% endfor %} 
            </ul>
            <p>Meetings:</p>
            <ul>
                {% for meeting in research_data.meetings %}
                    <li>{{ meeting.date }}: {{ meeting.discussion_points }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
</body>
</html>
